{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div id="left-pane">
    <img src="https://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg">
    {% if not has_book %}
    {% if not book_request %}
    <button onclick="sendReq(&quot;{% url 'request_book' id %}&quot;)" class="button">Request Book</button>
    {% else %}
    <form action="{% url 'cancel_request' %}" method="POST">
        {% csrf_token %}
        <input type="number" name="request_id" value="{{book_request.pk}}" hidden>
        <input type="submit" value="Cancel Request" class="button">
    </form>
    {% endif %}
    {% endif %}
    <br>
    {% if book.borrower and book.borrower != request.user %}
    Book is currently on loan<br>
    {% endif %}
    {% if request_count != 0 %}
    {{request_count}} request(s)
    {% endif %}
    {% if is_owner %}
    {% if book.borrower %}
    <button onclick="returnBook()" class="button">Return Book</button>
    {% endif %}
    <button onclick="deleteBook()" class="button">Delete Book</button>
    <script>
        function returnBook() {
            if (!confirm("Are you sture you want to mark this book as returned?")) {
                return;
            }
            sendReq("{% url 'return_book' id %}");
        }
        function deleteBook() {
            if (!confirm("Delete this book?")) {
                return;
            }
            sendReq("{% url 'delete_book' id %}");
        }
    </script>
    {%endif%}

</div>
<span>{{owner}}'s copy of</span>
<h1>{{title}}</h1>
{% if req.subtitle %}<h2 class="subtitle">{{req.subtitle}}</h2>{% endif %}
<span>By <strong>{{author}}</strong></span>
<p>{{desc}}</p>

<h3>Additional Info</h3>
<table>
    {%if work.created %} <tr><td>First publised</td> <td>{{work.created.value}}</td></tr>{% endif %}
    {%if req.number_of_pages %} <tr><td>Page count</td> <td>{{req.number_of_pages}}</td></tr>{% endif %}
    {% if work.subjects %}
    <tr><td>Subjects</td><td>
        <ul>
        {%for subject in work.subjects|slice:":10" %} <li>{{subject}}</li>{% endfor %}
        </ul></td>
    </tr>
    {% endif %}
</table>

<script>
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
    const context = {method: "POST", body: formData};
    function sendReq(url) {
        fetch(url, context)
            .then((response) => response.text())
            .then((text) => alert(text));
    }
</script>
{% endblock %}