{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<div class="page-center">
    <h2>Books</h2>
    <button id="reg-button">Register Book</button>
    <div id="nav">
        {% if page > 0 %}
        <a class="nav-button" href="{% url 'books' page|add:"-1" %}" style="mrgin-right: 50%;">&lt;</a>
        {% endif %}
        {% if is_more %}
        <a class="nav-button" href="{% url 'books' page|add:1%}" style="position: absolute;top: 0px;right: 0px;">&gt;</a>
        {% endif %}
    </div>
    <div id="books-container">
        {% for book in books %}
            <div class="book">
                <img src="https://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg" loading="lazy"><br>
                <a href="{% url 'book' book.id %}" target="_blank" class="book-title {% if book.borrower %}taken{% endif %}">{{book.title}}</a>
            </div>
        {% endfor %}
    </div>
</div>
<dialog id="reg-modal">
    <h1>Register Book</h1>
    <form class="form" id="reg">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <button id="reg-exit">Close</button>
</dialog>
<script>
    const reg_button = document.getElementById("reg-button");
    const reg_modal = document.getElementById("reg-modal");
    const reg_exit = document.getElementById("reg-exit");
    const form = document.getElementById("reg");
    const validation = /[^0-9]/g;

    reg_button.addEventListener("click", () => {
        reg_modal.showModal();
    });

    reg_exit.addEventListener("click", () => {
        reg_modal.close();
    });

    form.addEventListener("submit", (e) => {
        e.preventDefault();
        let formData = new FormData(document.forms['reg']);
        let isbn = formData.get('isbn');
        let validated = isbn.replaceAll(validation, "")
        console.log(validated);
        formData.set('isbn', validated);

        const context = {method: "POST", body: formData};
        fetch('/book/add', context)
            .then((response) => response.json())
            .then((json) => {
                //console.log(json);
                //alert("Registered "+ json[0].fields.title);
                alert("Registered book!");
            });
    });
</script>
{% endblock %}