{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block headers %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">
<link rel="stylesheet" href="{% static 'stylesheets/background.css' %}">
{% endblock %}
{% block content %}
<h2>Hello, {{name}}</h2>

<div id="grid">
    <div class="card" style="grid-column: 1; grid-row: 1/3;">
        <h3 class="card-title">Info</h3>
        <h3>Member of:</h3>
        <ul>
        {%for library in libraries %}
            <li>{{library}}</li>
        {% endfor %}
        </ul>
        <br>
        You currently have <strong>{{taken_out_count}}</strong> books out<br>
        You've registered <strong>{{user_registered}}</strong> books
    </div>

    <div class="card" style="grid-column: 2/4; grid-row: 1;">
        <h3 class="card-title">Books Requested</h3>
        <div class="book-list">
        {%for request in requested %}
            <div class="little-book">
                <div class="book" id="{{request.pk}}">
                    <span>{{request.user}} requested</span>
                    <img src="https://covers.openlibrary.org/b/olid/{{request.book.olid}}-S.jpg" loading="lazy">
                    <a href="{% url 'book' request.book.id %}" target="_blank" class="book-title {% if book.borrower %}taken{% endif %}">{{request.book.title}}</a><br>
                    <button onclick="fulfillRequest({{request.pk}})">Book Received?</button>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="card" style="grid-column: 2/4; grid-row: 2;">
        <h3 class="card-title">Books you've taken out</h3>
        <ul class="book-list list-wrap">
        {%for book in taken_out %}
            <div class="little-book">
                <div class="book">
                    <img src="https://covers.openlibrary.org/b/olid/{{book.olid}}-S.jpg" loading="lazy">
                    <a href="{% url 'book' book.id %}" target="_blank" class="book-title {% if book.borrower %}taken{% endif %}">{{book.title}}</a>
                </div>
            </div>
        {% endfor %}
        </ul>
    </div>

    <div class="card" style="grid-column: 1/4; grid-row: 3;">
        <h3 class="card-title">On Loan</h3>
        <ul class="book-list">
            {% for book in on_loan %}
            <div class="little-book">
                <div class="book" id="loan_{{book.pk}}">
                    <i>On loan to <strong>{{book.borrower}}</strong></i>
                    <img src="https://covers.openlibrary.org/b/olid/{{book.olid}}-S.jpg" loading="lazy">
                    <a href="{% url 'book' book.id %}" target="_blank">{{book.title}}</a><br>
                    <button onclick="returnBook({{book.pk}})" >Returned?</button>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>

    <div class="card" style="grid-column: 1/4; grid-row: 4;">
        <h3 class="card-title">Recently returned</h3>
        <ul class="book-list">
            {%for book in new_returns %}
                <div class="little-book">
                    <div class="book">
                        <img src="https://covers.openlibrary.org/b/olid/{{book.olid}}-S.jpg" loading="lazy">
                        <a href="{% url 'book' book.id %}" target="_blank" class="book-title {% if book.borrower %}taken{% endif %}">{{book.title}}</a>
                    </div>
                </div>
            {% endfor %}
            </ul>
    </div>

    <div class="card" style="grid-column: 1/4; grid-row: 5;">
        <h3 class="card-title">Recently added</h3>
        <div class="book-list">
        {%for book in newly_added %}
            <div class="little-book">
                <div class="book">
                    <img src="https://covers.openlibrary.org/b/olid/{{book.olid}}-S.jpg" loading="lazy">
                    <a href="{% url 'book' book.id %}" target="_blank" class="book-title {% if book.borrower %}taken{% endif %}">{{book.title}}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>

<script>
    function fulfillRequest(request_id) {
        // Construct a FormData instance
        const formData = new FormData();
        formData.append("request_id", request_id);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")

        const req = new XMLHttpRequest();
        req.open("POST", "{% url 'fulfill_request' %}");
        req.onload = function() {
            if (req.status === 200) {
                var item = document.getElementById(request_id);
                item.remove()
            }
        }
        req.send(formData);
    }

    function returnBook(book) {
        if(!confirm("Are you sure you want to mark this book as returned?")) {
            return;
        }
        // Construct a FormData instance
        const formData = new FormData();
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")

        const req = new XMLHttpRequest();
        req.open("POST", "/book/" + book + "/return");
        req.onload = function() {
            if (req.status === 200) {
                var item = document.getElementById("loan_" + book);
                item.remove()
            }
        }
        req.send(formData);
    }
</script>

{% endblock %}