{% extends "base.html" %}
{% load static %}

{% block headers %}
<link rel="stylesheet" href="{% static 'stylesheets/background.css' %}">
{% endblock %}

{% block content %}
<div style="display:flex;justify-content:center;align-items:center;">
    <div class="card center-card">
        <strong>{{invite.creator}}</strong> has invited you to<br>
        <h2>{{invite.library}}<h2>
        <button id="acc">Accept</button>
        <button id="dec">Decline</button>
    </div>
</div>

<script>
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
    const context = {method: "POST", body: formData, redirect: "follow"};
    const accept = document.getElementById("acc");
    const decline = document.getElementById("dec");

    accept.addEventListener("click", (e) => {
        fetch(window.location, context).then((e) => window.location.replace("/home"));
    });
    decline.addEventListener("click", (e) => {
        window.location.replace("/home");
    });
</script>
{% endblock %}