{% extends "base.html" %}
{% block content %}
<div style="display:flex;justify-content:center;align-items:center;">
    <div style="width:35empx; height:10em; border:2px black solid; padding:0.5em; border-radius:10px;">
        <strong>{{invite.creator}}</strong> has invited you to <strong>{{invite.library}}</strong><br>
        <button id="acc">Accept</button>
        <button id="dec">Decline</button>
    </div>
</div>

<script>
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
    const context = {method: "POST", body: formData, redirect: "follow"};
    const accept = document.getElementById("acc");
    const decline = document.getElementById("dec");

    accept.addEventListener("click", (e) => {
        fetch(window.location, context).then((e) => window.location.replace("/home"));
    });
    decline.addEventListener("click", (e) => {
        window.location.replace("/home");
    });
</script>
{% endblock %}