main {
    background-image: url("/static/background.webp");
    color: white;
}

.card {
    border: 2px solid #1F1F1F;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: black;
}

.center-card {
    min-width:20em;
    max-width:30em;
    min-height:14em;
    text-align:center;
}